<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-5"> <!-- Modifiez la classe ici -->
      <div class="card shadow">
        <div class="card-body" style="background-color: #f8f9fa;">
          <div class="alert alert-danger" *ngIf="err==1">
            <strong>login ou mot de passe erronés..</strong>
          </div>
          <form>
            <div class="form-group">
              <label for="username"><b>Nom Utilisateur :</b></label>
              <input type="text" id="username" name="username" class="form-control" [(ngModel)]="user.username">
            </div>
            <div class="form-group">
              <label for="password"><b>Mot de passe :</b></label>
              <input type="password" id="password" name="password" [(ngModel)]="user.password" class="form-control">
            </div>
            <div class="text-center">
              <button type="button" (click)="onLoggedin()" class="btn btn-success">Connexion</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
